<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gamified Course Designer</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="../images/logo.png" width="120" style="float:left; margin-left:10px;" />
        </div>
        <h4 style="padding-top:30px; margin-left:20px; float:left">Gamified Course Designer</h4>

    </div>
    <div class="content">
        <h2><u>Sign Up Now</u></h2>
        <form action="" method="post">
            Name
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="name" />
            <br /><br />
            Phone
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="phone" />
            <br /><br />
            Gender
            &nbsp;&nbsp;
            <input type="radio" name="gender" value="male" checked />Male
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" value="female" />Female
            <br /><br />
            Email
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="email" />
            <br /><br />
            Password
            &nbsp;
            <input type="password" name="password" />
            <br /><br />

            <input type="submit" value="Log In" class="button" style="float:right;" />
            <br />

        </form>
    </div>
</body>
</html>